.app-container {
  overflow: auto;
  text-align: center;
}

.app-background {
  background-size: cover;
  width: 100%; 
  height: 100%; 
  position: fixed; 
  filter: blur(3px);
}

.app-heading {
  color: black;
}
