.wrapper {
	margin: 20px;
}

.tasks-wrapper {
	padding: 20px;
	margin: 15px;
	display: inline-block;
}

button {
	padding: 10px;
	color: black;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	background-color: green;
	min-width: 120px
}

input {
	font-size: 16px;
	padding: 5px;
}